<!DOCTYPE html>

<html lang="ja">
    <head>
          <meta http-equiv="content-type" content="text/html; charset=UTF-8">
          <title><%= title %></title>
          <script src="https://code.jquery.com/jquery.min.js"></script>
          <link rel='stylesheet' href='/stylesheets/style.css' />
          <script>
                $(document).click(function() {
                    $('#btn').click(function() {//btnボタンをクリックしたら発生する関数。id="btn"の部分だね。
                        const n = $('#num').val();//ここで入力した数値を取得。nに代入。
                        $.getJSON("/ajax?id=" + n, function(json) {//加えて、getJSONででデータを取得する。方法は、URLのクエリパラメータで数字を見て、その数値はajax.jsのファイルでリクエストqueryidでidの数値を取得してn番目のJSONデータを選択。
                            const msg = '<table>' +
                                '<tr><th>名前</th>' +
                                '<td>' + json.name + '</td></tr>' +
                                '<tr><th>年齢</th>' +
                                '<td>' + json.age + '</td></tr>' +
                                '<tr><th>出身</th>' +
                                '<td>' + json.from + '</td></tr>' +
                                '</table>';
                            $('#msg').html(msg);//htmlに組み込めるように変形。
                        });
                    });
                });
          </script>
    </head>

    <body>
        <head>
          <h1><%= title %></h1>
        </head>
        <div role="main">
            <p id="msg"><%- content %></p>
                <input type="text" name="num" id="num">
                <input type="submit" id="btn" value="GET!!!!!">
            </form>
        </div>
    </body>
</html>